/* Background image */
.jumbotron {
  text-align: left;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.bg-cover {
  background-image: url("../img/Home\ page\ banner.png");
  background-size: cover;
  color: rgb(0, 0, 0);
  background-position: center center;
  position: relative;
  z-index: -2;
}
.bg-cover-shop {
  background-image: url("../img/shop\ page\ banner.png");
  background-size: cover;
  color: rgb(0, 0, 0);
  background-position: center center;
  position: relative;
  z-index: -2;
}

.jumbotron .content span {
  position: absolute;
  bottom: 0;
  right: 0;
}

.no-margin {
  margin-bottom: 0px !important;
  line-height: 40px;
}

.slide_size {
  width: 100%;
  height: 400px;
}
.card_image_size {
  width: 100%;
  height: 400px;
}
.aboutus {
  background-color: #c9d2c1;
}

.navbar.transparent.navbar-inverse .navbar-inner {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0))
  );
  background-image: -webkit-linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
